:root {
  --color-main: #9d0909;
  --color-primary: #e8e8e8;
  --color-secondary: white;
}

/* RESET CSS */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
}

/* HEADER */

.header {
  background-color: var(--color-secondary);

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  margin: 1rem;
  border: 0.2rem solid var(--color-main);
}

.logo {
  width: 8rem;
  height: 5rem;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  font-size: 1.7rem;
}

.nav-bar a {
  text-decoration: none;
  color: var(--color-main);
  font-size: 2rem;
  font-weight: 700;
}

.nav-bar a:hover {
  cursor: pointer;
  color: #f5f5f5;
  background-color: var(--color-main);
  border-radius: 0.6rem;
  padding: 1.2rem;
  transition: 0.3s;
}

/* MAIN */

.main {
  background-color: var(--color-primary);
  width: 100%;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--color-main);
  font-size: 2rem;
  letter-spacing: 0.4rem;
  margin: 3rem;
}

.form {
  text-align: center;
  margin: 3rem;
  width: 100%;
}

.input {
  width: 60%;
  height: 3rem;
  padding: 2rem;
  border-radius: 0.6rem;
  border: 0.3rem solid var(--color-main);
}

.button {
  color: var(--color-main);
  background-color: #f0f0f0;
  border: 1px solid var(--color-main);
  border-radius: 0.6rem;
  padding: 1.2rem;
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.button:hover {
  background-color: var(--color-main);
  color: #f0f0f0;
  cursor: pointer;
  transition: 0.3s;
}

/* SECTION 1 */

#section-1 {
  background-color: var(--color-secondary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.material-icons {
  color: var(--color-main);
  font-size: 5rem;
  margin-right: 5rem;
}

.container-title {
  padding: 1.4rem;
  max-width: 80%;
}

.container-subtitle {
  font-size: 3rem;
  padding-bottom: 1.2rem;
}

h4 {
  font-weight: 300;
  font-size: 1.8rem;
}

/* SECTION 2 */

#section-2 {
  background-color: var(--color-primary);
}

.video {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 37rem;
  display: block;
}

/* SECTION 3 */

#section-3 {
  background-color: var(--color-secondary);
}

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 40rem;
  margin-left: 40rem;
}

.card {
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: white;
  width: 30rem;
  border: 0.08rem solid var(--color-main);
}

.card-title {
  background-color: var(--color-primary);
  height: 5rem;
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5rem;
}

.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1.6;
  padding: 1.2rem;
}

p {
  font-size: 1.4rem;
  font-weight: 200;
  padding: 0.8rem;
}

#premium {
  color: #f0f0f0;
  background-color: var(--color-main);
  border: 1px solid var(--color-main);
  border-radius: 0.6rem;
  padding: 1.2rem;
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
}

#premium:hover {
  background-color: var(--color-main);
  color: white;
  cursor: pointer;
  border: 2px solid rgb(94, 5, 5);
  font-size: 1.5rem;
  box-shadow: black;
  transition: 0.3s;
}

/* FOOTER */

.footer {
  background-color: var(--color-primary);
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-nav a {
  text-decoration: none;
  color: black;
  margin: 0 3rem;
}
.copyright {
  text-align: center;
}
